<!-- https://www.itemsapi.com/blog/2017/11/25/search-engine-with-facets-in-javascript/
https://github.com/itemsapi/itemsjs
-->
<script type="text/javascript" src="https://cdn.rawgit.com/itemsapi/itemsjs/master/dist/itemsjs.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!--      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css">-->
      <script type="text/javascript" src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
      <script type="text/javascript" src="https://unpkg.com/vuejs-paginate@latest"></script>
     <script type="text/javascript" src="/collectius.js"></script>
      <style type="text/css">

	a[data-v-82963a40]{cursor:pointer}

	.pagination > li {display: inline;}
	.pagination > li > a {padding: 6px 12px;}
	.pagination > li.active > a {background-color: blue;}
      </style>




  <script type="text/javascript">

    window.onload=function(){

var configuration = {
  searchableFields: ['nom', 'tipus', 'lloc'],
  sortings: {
    name_asc: {
      field: 'nom',
      order: 'asc'
    }
  },
  aggregations: {
    tipus: {
      title: 'Tipus',
      size: 10
    },
    lloc: {
      title: 'Lloc',
      size: 10
    }
  }
}



    
itemsjs = itemsjs(rows, configuration);
// add vue component for pagination
Vue.component('paginate', VuejsPaginate)

var vm = new Vue({
  el: '#el',
  data: function () {

    // making it more generic
    var filters = {};
    Object.keys(configuration.aggregations).map(function(v) {
      filters[v] = [];
    })
    
    // adding pagination variables
    var page = this.page || 1;
    var per_page = this.per_page || 12;

    return {
      query: '',
      // initializing filters with empty arrays
      filters: filters,
      // setting pagination variables
      page: page,
      per_page: per_page,
    }
  },
  methods: {
    reset: function () {
      var filters = {};
      Object.keys(configuration.aggregations).map(function(v) {
        filters[v] = [];
      })

      this.filters = filters;
      this.page = 1;
      this.query = '';
    },
    goToPage: function (page) {
      this.page = page;
      return page;
    },
  },
  watch: {
    query: function () {
       this.page = 1;
     }
  },
  computed: {
    searchResult: function () {

      var result = itemsjs.search({
        query: this.query,
        page: this.page,
        per_page: 12,
        filters: this.filters
      })
      return result
    }
  }
});



};



  </script>

    
