---
layout: default
---
<div class="w3-container">
<h1>{{ page.nom }}</h1>

<img style="width: 100px;" src="/{{ page.imatge }}"/>

<p>
  Web: {{ page.web }}
<br/>Lloc: {{ page.lloc }}
<br/> {{ page.tipus }}
</p>

{{ page.text }}

</div>
