<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} - Segell</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("img/demo.jpg");
  min-height: 100%;
}

img.logo {
    max-height: 60px;
    padding-left: 8px;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>

<script>

// Toggle between showing and hiding the sidebar when clicking the menu icon
function w3_open() {
  var mySidebar = document.getElementById("mySidebar");
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    var mySidebar = document.getElementById("mySidebar");
    mySidebar.style.display = "none";
}
</script>


{% if page.head %}
  {% include {{ page.head }} %}
{% endif %}


</head>



<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/#home" class="w3-wide"><img class="logo" src="/img/logo.jpg" alt="Logo Segell Republicà" title="Segell Republicà" ></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/#about" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Què és?</a>
      <a href="/cercador.html" class="w3-bar-item w3-button"><i class="fa fa-th"></i> CERCADOR</a>
      <a href="/#adhesio" class="w3-bar-item w3-button"><i class="fa fa-plus-circle"></i> ADHESIÓ</a>
      <a href="/#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACTE</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="/#about" onclick="w3_close()" class="w3-bar-item w3-button">Què és?</a>
  <a href="/cercador.html" onclick="w3_close()" class="w3-bar-item w3-button">CERCADOR</a>
  <a href="/#adhesio" onclick="w3_close()" class="w3-bar-item w3-button">ADHESIÓ</a>
  <a href="/#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACTE</a>
</nav>


<div style="padding:30px 30px"></div>

{{ content }}

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Torna a dalt</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a> <a href="https://jekyllrb.com/" title="Jekyll static sites" class="w3-hover-text-green">Jekyll</a></p>
</footer>



</body>
</html>
